@charset "utf-8";
/* CSS Document */

/* Boostrap Overrides */
.navbar-default {
	background-color: transparent;
	border-color: transparent;
}
.navbar {
	margin-bottom: 0;
}
.navbar .nav,
.navbar .nav > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
}
.nav > li > a {
	padding-top: 0;
	padding-bottom: 0;
}
.nav-inner {
  text-align:center;
  margin-top: 15px;
  font-size: 1.1em;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: transparent;
}
.navbar-default .navbar-nav > li > a {
	color: #d63700;
}
.nav > li > a:hover, .nav > li > a:focus {
	background-color: transparent;
}
.navbar-default .navbar-text {
	color: #d63700;
	margin-top: 13px;
}
.navbar-text {
	margin-top: 10px;
	margin-bottom: 0;
	text-align: center;
}
.jumbotron {
	padding: 0;
}
.jumbotron .container {
	width: 100%;
	padding: 0;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: top center;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: #64ccdb;
	font-family: 'Arvo', serif;
}
body.story {
	background: #d95930;
}
p {
	margin-top: 0;
}
h1 {
	margin-top: 0;
	margin-bottom: 0;
}
/* Wrapper */

#wrapper {
	width: 1024px;
	height: 819px;
	padding-top: 35px;
	background-position: top center;
	background-repeat: no-repeat;
	margin: 0 auto;
}
body.home .jumbotron .container {
	background-image: url("images/landing.jpg");
}
body.breakfast #wrapper {
	background-image: url("images/breakfast.jpg");
}
body.lunch #wrapper {
	background-image: url("images/lunch-dinner.jpg");
}
body.bar #wrapper {
	background-image: url("images/bar.jpg");
}
body.story #wrapper {
	background-image: url("images/story.jpg");
}
body.story h1 {
	margin-bottom: 0;
}
nav {
	height: 55px;
}
/*main {
	width: 813px;
	margin: 0 auto;
	background-color: #000000;
}*/
/* Center stuff */

.center {
	text-align: center;
}
/* Font colors */

.white {
	color: #ffffff;
}
.red {
	color: #d63700;
}
.yellow {
	color: #ffe600;
}

/* Bullet spacing */
.navbar-text {
	margin-left: 5px;
	margin-right: 5px;
	font-size: 1.15em;
	font-weight: bold;
}
/* Navigation */

nav ul {
	list-style-type: none;
	margin: 0 0 25px 0;
	padding: 0;
}
nav a {
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.15em;
	font-weight: bold;
}
nav a.active, nav a:hover {
	color: #ffe600;
}
nav img {
	margin-bottom: 5px;
}
.tableRow {
	display: table;
	width: 100%;
}
.vcenter {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.address {
	font-size: 1.25em;
	font-weight: bold;
} 
.bullet {
	margin-left: 10px;
	margin-right: 10px;
	font-size: 1.15em;
	font-weight: bold;
}
footer {
	padding-bottom: 25px;
}

/** Responsive stuff **/
@media(max-width:1024px) {
	#wrapper {
		width: 100%;
		padding-top: 15px;
	}
	img.logo,
	img.welcome {
		width: 90%;
	}
	img.menu-icon {
		width: 40%;
	}
	nav {
		height: auto;
	}
}
@media(max-width: 600px) {	
	.navbar-text {
		display: none;
		margin: 0;
	}
	.nav-inner {
		margin-top: 5px;
	}
	.navbar .nav,
	.navbar .nav > li {
	  display:block;
	  *display:block; /* ie7 fix */
	  *zoom:1; /* hasLayout ie7 trigger */
	  vertical-align: top;
	}
	.bullet {
		margin: 0 5px;
		width: 100%;
		display: block;
		color: transparent;
	}
}

